.social-buttons-field {
    margin: 10px 0 0 1px;
    display: inline-flex;
    justify-content: space-between;
       
}

.social-buttons {
    background: #FFFFFF;
    border: 1px solid #BCBEC0;
    box-sizing: border-box;
    border-radius: 40px;
    width: 76px;
    height: 30px;
    margin-right: 6px;
    color: #4267B2;
    text-align: center;
    justify-content: center;
    
}

.social-buttons:hover {
    background-color: rgb(223, 223, 223);
}

.social-buttons:active {
    background-color: #BCBEC0;
}